# Tested on Windows Python 3.12.3; core plus test/reference extras.
# Install in an isolated environment, then pip install -e . --no-deps
numpy==2.2.5
scipy==1.15.2
matplotlib==3.10.1
pytest==9.1.1
xrayutilities==1.8.0
setuptools==75.8.0
wheel==0.45.1
contourpy==1.3.2
cycler==0.12.1
fonttools==4.58.0
kiwisolver==1.4.8
packaging==24.2
pillow==10.3.0
pyparsing==3.2.3
python-dateutil==2.9.0.post0
six==1.17.0
colorama==0.4.6
iniconfig==2.3.1
pluggy==1.5.0
pygments==2.15.1
h5py==3.16.0
lmfit==1.3.4
odrpack==0.6.1
asteval==1.0.10
uncertainties==3.2.3
dill==0.4.1
